
.svn/
.python-version
.vscode/settings.json
*.map
*.o5m
*.osm
*.pbf
\#How_to_use_the_maps.txt
\#I_Downloaded_This.txt
15323/
15784/
15943/
17031/**
300616-ace/**
301249-ace/**
account.json
cruiser-4-0-2/
cruiser-5.1.1/
cruiser/
custom1.html
Elemntary-beta/
Elemntary/
Fit2GeoJson/
FitCSVTool.jar
fitheaders.py
Generated-maps/
geofabrik.json
geofabrik.json.bak
hgt/
json/
land-polygons-complete-4326/
land-polygons-split-4326/
Maperitive/
Maps/**
nppBackup/**
openandromaps.zip
openandromapstags-sorted.txt
openandromapstags.txt
openstreetmap-carto/
osm2pgsql/
Osmosis-old/**
Osmosis/
Output/**
platform-tools/
ride-dashboard/**
Themes/Wahoo/FW-16781/**
Themes/VTM/VTM-Bolt and Roam 2/vtm-elemnt-eric/**
Themes/VTM/VTM-Bolt and Roam 2/vtm-elemnt-test/**
Valhalla_Tiles/**
wahoofitness/
wahooligan-workouts/
WaoStats/
wmc/**
GDAL-3.9.2-cp39-cp39-win_amd64.whl
