
.svn/
15323/
15784/
15943/
cruiser/
cruiser-4-0-2/
Elemntary/
Elemntary-beta/
Fit2GeoJson/
Generated-maps/
hgt/
json/
land-polygons-complete-4326/
land-polygons-split-4326/
Maperitive/
Maps/**
nppBackup/**
openstreetmap-carto/
osm2pgsql/
Osmosis/
Output/**
platform-tools/
ride-dashboard/**
wahoofitness/
wahooligan-workouts/
WaoStats/
Valhalla_Tiles/**
*.map
openandromapstags.txt
openandromapstags-sorted.txt
openandromaps.zip
*.o5m
*.pbf
*.osm
account.json
geofabrik.json
.vscode/settings.json
geofabrik.json.bak
\#How_to_use_the_maps.txt
\#I_Downloaded_This.txt
custom1.html
FitCSVTool.jar
fitheaders.py
Osmosis-old/**
Themes/Wahoo/FW-16781/**
wmc/**
.python-version
300451-ace/**
300499-ace/**
300616-ace/**
17031/**
